.rain-chance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rain-chance-container .sliders {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.rain-chance-container .sliders .slider {
  width: 40%;
  padding: 60px;
}
.rain-chance-container .chart {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.forecast-spinner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 300px;
}
